.cover {
  background: url(../../../../assets/Images/cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
}
.center {
  margin: auto;
  display: flex;
  position: relative;
  top: 20%;
}
.center-img {
  margin: auto;
  display: flex;
  position: relative;
}

a{
  text-decoration: none;
}

.hidden{
  display: none;
}
