<div class="cover">
  <div class="card center" style="width: 40%">
    <div class="container" style="padding: 2%">
      <br>
      <img src="../../../../assets/Images/logo-ONDA.png" alt="" width="148" height="92" class="center-img">
      <br>
      <br>
      <form style="padding: 5%">
        <div class="form-group">
          <input type="email" class="form-control" id="email" disabled aria-describedby="emailHelp" name="email" [(ngModel)]="recoveryRequest.email">
        </div>
        <!-- PASSWORD-->
        <div class="form-group">
          <div class="input-group mb-2">
            <input type="password" class="form-control" placeholder="Entrer votre mot de passe ..."
                   [(ngModel)]="passwordRecoveryRequest.newPwd" (keyup)="passwordRecoverValidate()"
                   id="pwdRecNew"
                   name="pwdAdd">
            <div class="invalid-feedback">
              Le mot de passe que vous avez entre est invalid
            </div>
          </div>
        </div>
        <!-- PASSWORD CONFIRMATION-->
        <div class="form-group">
          <div class="input-group mb-2">
            <input type="password" class="form-control" [(ngModel)]="passwordRecoveryRequest.newPwdConfirmation"
                   id="pwdRecNewConf" (keyup)="passwordRecoverValidate()"
                   placeholder="Confirmer votre mot de passe ..." name="pwdConfirmation">
            <div class="invalid-feedback">
              Les deux mot de passes sont non identiques
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-primary w-100" (click)="passwordRecover()">Changer mon mot de passe</button>
      </form>
    </div>
    <br>
    <br>
  </div>
</div>
