<div class="row">
  <div class="col-md-5">
    <div class="container">
      <small id="emailHelp4" class="form-text text-muted">*Interv : Intervention</small>
      <br>
      <form>
        <div class="form-group">
          <label class="sr-only" for="typeEquiinterv">Type d'équipement</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Type équipement</div>
            </div>
            <select class="custom-select" [(ngModel)]="selectedType.name" (change)="findEquipmentByType()"
                    id="typeEquiinterv" name="type">
              <option selected disabled>Selectionner le type</option>
              <option *ngFor="let t of types" value="{{t.name}}">{{t.name}} </option>
            </select>
          </div>
        </div>
        <!-- Equipement-->
        <div class="form-group">
          <label class="sr-only" for="equipement">Équipement</label>
          <small id="emailHelp3" class="form-text text-muted">Veuillez saisir d'abord le type d'équipement</small>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Équipement</div>
            </div>
            <select class="custom-select" [disabled]="interventions.length>0" [(ngModel)]="equipement.name"
                    id="equipement" name="equi">
              <option selected disabled>Selectionner l'équipement</option>
              <option *ngFor="let e of equipements" value="{{e.name}}">{{e.name}} </option>

            </select>
          </div>
        </div>
        <!-- Anomalie-->
        <div class="form-group">
          <label class="sr-only" for="anomalie">Anomalie</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Anomalie</div>
            </div>
            <input class="form-control" [(ngModel)]="interventionCreate.anomaly" name="anomalie" id="anomalie"
                   placeholder="Entrer l'anomalie" type="text">
          </div>
        </div>
        <!-- Date d'appel-->
        <div class="form-group">
          <label class="sr-only" for="Date&heuredappel">Appel Interv</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Appel Interv</div>
            </div>
            <input class="form-control" id="Date&heuredappel" [(ngModel)]="interventionCreate.callIntervention"
                   name="appel" placeholder="Entrer la date et l'heure d'appel" type="datetime-local">
          </div>
        </div>
        <!-- Date & heure début d'intervention-->
        <div class="form-group">
          <label class="sr-only" for="Date&heuredebut">Début d'Interv</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Début d'Interv</div>
            </div>
            <input class="form-control" id="Date&heuredebut" [(ngModel)]="interventionCreate.interventionStart"
                   name="Date&heuredebut" placeholder="Entrer la date & heure début d'intervention"
                   type="datetime-local">
          </div>
        </div>
        <!-- Date & heure fin d'intervention-->
        <div class="form-group">
          <label class="sr-only" for="Date & heure fin d'intervention">Fin d'Interv</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Fin d'Interv</div>
            </div>
            <input class="form-control" id="Date & heure fin d'intervention"
                   [(ngModel)]="interventionCreate.interventionEnd" name="heure fin d'intervention"
                   placeholder="Entrer la date & heure fin d'intervention" type="datetime-local">
          </div>
        </div>
        <!-- Nombre d'arrets-->
        <div class="form-group">
          <label class="sr-only" for="nombreDarrets">Nombre d'arrêts</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Nombre d'arrêts</div>
            </div>
            <input class="form-control" id="nombreDarrets" [(ngModel)]="interventionCreate.breakNumber"
                   name="nombreDarrets" placeholder="Entrer le nombre d'arrets" type="number">
          </div>
        </div>
        <!-- Action-->
        <div class="form-group">
          <label class="sr-only" for="action">Action</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Action</div>
            </div>
            <input class="form-control" id="action" [(ngModel)]="interventionCreate.actions" name="actions"
                   placeholder="Entrer l'action" type="text">
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn btn-outline-secondary mr-1">Réinitialiser le formulaire
          </button>
          <button class="btn btn-outline-success" (click)="addIntervention()">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-7">
    <br>
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th scope="col">Équipement</th>
        <th scope="col">Anomalie</th>
        <th scope="col">date d'intervention</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of interventions">
        <td>{{equipement.name}}</td>
        <td>{{i.anomaly}} </td>
        <td>{{toDate(i.interventionStart) | date:'yyyy-MM-dd'}}</td>
        <td>
          <!--<button type="button" (click)="show(i)" class="btn btn-outline-info mr-sm-1" data-toggle="modal"
                  data-target=".bd-example1-modal-lg"><i class="fa fa-info" aria-hidden="true"></i>
          </button>-->
          <button class="btn btn-outline-danger" (click)="deleteRow(i.id)"><i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <br>
    <!-- somme temps d'arret-->
    <div class="form-group">
      <label class="sr-only" for="smA">Duree d'arrêt</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Duree d'arrêt</div>
        </div>
        <input type="text" class="form-control" id="smA" [(ngModel)]="breakDuration"
               name="smA" placeholder="0" disabled>
      </div>
    </div>
    <!-- somme temps réparation-->
    <div class="form-group">
      <label class="sr-only" for="smR">Duree de réparation</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Duree de réparation</div>
        </div>
        <input type="text" class="form-control" id="smR" [(ngModel)]="reparationDuration"
               name="smR" placeholder="0" disabled>
      </div>
    </div>
    <!-- somme nbre d'arrets-->
    <div class="form-group">
      <label class="sr-only" for="nbrArr">Nbre d'arrêts</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Nbre d'arrêts</div>
        </div>
        <input type="text" class="form-control" [(ngModel)]="breakNumberTotal" id="nbrArr" name="nbrArr" placeholder="0"
               disabled>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-outline-secondary mr-1">Reinitialiser la liste</button>
      <button (click)="saveIntervention(equipement.name)" class="btn btn-outline-primary">Confirmer</button>
    </div>
  </div>
</div>
<!--Large Modal-->
<!--
<div class="modal fade bd-example1-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-full">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Détails de l'intervention :
          <small id="emailHelp6" class="form-text text-muted">*interv : intervention</small>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="container-fluid">
        <table class="table table-hover table-md">
          <thead>
          <tr>
            <th scope="col">Date d'appel d'interv</th>
            <th scope="col">Heure d'appel d'interv</th>
            <th scope="col">Date début d'interv</th>
            <th scope="col">Heure début d'interv</th>
            <th scope="col">Date fin de réparation</th>
            <th scope="col">Heure fin de réparation</th>
            <th scope="col">Nbre d'arrêts</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{toDate(interventionDetail.callIntervention) | date:'yyyy-MM-dd'}}</td>
            <td>{{toDate(interventionDetail.callIntervention) | date:'HH:mm'}}</td>
            <td>{{toDate(interventionDetail.interventionStart) | date:'yyyy-MM-dd'}}</td>
            <td>{{toDate(interventionDetail.interventionStart) | date:'HH:mm'}}</td>
            <td>{{toDate(interventionDetail.interventionEnd) | date:'yyyy-MM-dd'}}</td>
            <td>{{toDate(interventionDetail.interventionEnd) | date:'HH:mm'}}</td>
            <td>{{interventionDetail.breakNumber}}</td>
            <td>{{interventionDetail.actions}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
-->

