<div class="row">
  <div class="col">
    <div class="container">
      <br>
      <form>
        <div class="form-group">
          <label class="sr-only" for="typeEquiinterv">Type équipement</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Type équipement</div>
            </div>
            <select  class="custom-select"
                     id="typeEquiinterv" name="type">
              <option selected disabled>Selectionner le type d'équipement ...</option>
              <option >TÉLÉAFFICHAGE TISYS</option>
              <option >Système Informatique</option>
              <option >SYSTÈME CUTE</option>
              <option >Système wifi</option>
              <option >Autre</option>


            </select>
          </div>
        </div>
        <br>

        <!-- Equipement-->
        <div class="form-group">
          <label class="sr-only" for="equipement">Équipement</label>
          <small id="emailHelp3" class="form-text text-muted">Veuillez saisir d'abord le type d'équipement</small>

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Équipement</div>
            </div>
            <select disabled class="custom-select"
                     id="equipement" name="nom">
              <option selected disabled>Selectionner l'équipement ...</option>
            </select>
          </div>
        </div>
        <br>


        <!-- Anomalie-->
        <div class="form-group">
          <label class="sr-only" for="anomalie">Anomalie</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Anomalie</div>
            </div>
            <input class="form-control" id="anomalie"  placeholder="Entrer l'anomalie" type="text" >
          </div>
        </div>
        <br>


        <!-- Date d'appel-->

        <div class="form-group">
          <label class="sr-only" for="Date&heuredappel">Date & heure d'appel</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Date & heure d'appel</div>
            </div>
            <input class="form-control" id="Date&heuredappel"  placeholder="Entrer la date et l'heure d'appel"  type="datetime-local" >
          </div>
        </div>
        <br>



        <!-- Date & heure début d'intervention-->
        <div class="form-group">
          <label class="sr-only" for="Date&heuredebut">Date & heure début d'intervention</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Date & heure début d'intervention</div>
            </div>
            <input class="form-control" id="Date&heuredebut"  placeholder="Entrer la date & heure début d'intervention"  type="datetime-local" >
          </div>
        </div>
        <br>


        <!-- Date & heure fin d'intervention-->
        <div class="form-group">
          <label class="sr-only" for="Date & heure fin d'intervention">Date & heure fin d'intervention</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Date & heure fin d'intervention</div>
            </div>
            <input class="form-control" id="Date & heure fin d'intervention"  placeholder="Entrer la date & heure fin d'intervention" type="datetime-local">
          </div>
        </div>
        <br>



        <!-- Nombre d'arrets-->
        <div class="form-group">
          <label class="sr-only" for="nombreDarrets">Nombre d'arrets</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Nombre d'arrets</div>
            </div>
            <input class="form-control" id="nombreDarrets"  placeholder="Entrer le nombre d'arrets" type="number" >
          </div>
        </div>
        <br>


        <!-- Action-->
        <div class="form-group">
          <label class="sr-only" for="action">Action</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Action</div>
            </div>
            <input class="form-control" id="action"  placeholder="Entrer l'action" type="text" >
          </div>
        </div>
        <br>



        <div class="d-flex justify-content-end">
          <button  class="btn btn-outline-secondary mr-1">Réinitialiser le formulaire
          </button>
          <button  class="btn btn-outline-success">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">

<div class="col">
    <br>
    <table class="table table-striped table-responsive-lg">
      <thead>
      <tr>
        <th scope="col">Équipement</th>
        <th scope="col">Anomalie</th>
        <th scope="col">Appel d'intervention</th>
        <th scope="col">Début d'intervention</th>
        <th scope="col">Fin d'intervention</th>
        <th scope="col">Temps d'arret</th>
        <th scope="col">Temps de réparation</th>
        <th scope="col">Nbre d'arrets</th>
        <th scope="col">Action</th>
        <th scope="col"></th>




      </tr>
      </thead>
      <tbody>
      <tr>
     <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>


        <td>
          <button  class="btn btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <button  class="btn btn-outline-secondary mr-1">Réinitialiser la liste</button>
      <button  class="btn btn-outline-primary">Confirmer</button>
    </div>
  </div>
</div>
