<div class="row">
  <div class="col-md-6">
    <div class="container">
      <br>
      <form>

        <div class="form-group">
          <label class="sr-only" for="nameEquipement">Nom</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Nom</div>
            </div>
            <input class="form-control" id="nameEquipement" [(ngModel)]="equipementCreate.name" name="nameEqui"  placeholder="Entrer le nom de l'équipement" type="text" >
          </div>
        </div>
        <br>




        <div class="form-group">
          <label class="sr-only" for="typeEqui">Type</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Type</div>
            </div>
            <select  class="custom-select" id="typeEqui" [(ngModel)]="equipementCreate.typeVo.name" name="type">
              <option selected disabled>Selectionner le type d'équipement ...</option>
              <option *ngFor="let t of allTypes" ngValue="{{ t.name }}" data-toggle="tooltip" data-placement="top"
                      title="{{ t.name}}">{{ t.name }}</option>



            </select>
          </div>
        </div>
        <br>


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Maintenance prévue</span>
          </div>
          <input type="text" class="form-control" id="maintStartingTimeH" [(ngModel)]="equipementCreate.expectedBreakPeriodMaintenance.hour" name="maintstartingTimeHours" placeholder="Entrer l'heure de debut ..." min="0" max="23">
          <div class="input-group-append">
            <span class="input-group-text">H</span>
          </div>
          <input type="text" class="form-control" id="maintStartingTimeM" [(ngModel)]="equipementCreate.expectedBreakPeriodMaintenance.minute"  name="maintTimeMinute" placeholder="Entrer la minute de fin ..." min="0" max="59">
          <div class="input-group-append">
            <span class="input-group-text">M</span>
          </div>
        </div>
<br>

        <div class="d-flex justify-content-end">
          <button type="submit"  class="btn btn-outline-secondary mr-1">Réinitialiser le formulaire</button>
          <button type="submit" (click)="addEquipement()"  class="btn btn-outline-success">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Type</th>
        <th scope="col">Maint.prévue</th>

        <th ></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let e of equipementsToBeAdded">
        <td>{{e.name}}</td>
        <td>{{e.typeVo.name}}</td>
        <td>{{e.expectedBreakPeriodMaintenance.hour}} : {{e.expectedBreakPeriodMaintenance.minute}}</td>

        <td >
          <button class="btn btn-outline-danger ml-2" (click)="removeEquipement(e)" ><i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-outline-secondary mr-1">Réinitialiser la liste</button>
      <button type="submit" (click)="saveEquipement()" class="btn btn-outline-primary">Confirmer</button>
    </div>
  </div>
</div>
