<div class="container-fluid">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Reference</th>
      <th scope="col">Emloye associe</th>
      <th scope="col">Type</th>
      <th scope="col">Date debut</th>
      <th scope="col">Horaire(s)</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">9283</th>
      <td>Some</td>
      <td>body</td>
      <td>body</td>
      <td>body</td>
      <td class="float-right">
        <button class="btn btn-outline-warning">Modifier</button>
        <button class="btn btn-outline-danger ml-2">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
