<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a aria-controls="nav-insert" aria-selected="true" class="nav-item nav-link active" data-toggle="tab"
       href="#nav-insert" id="nav-insert-tab" role="tab">Insertion des conges</a>
    <a aria-controls="nav-list" aria-selected="false" class="nav-item nav-link" data-toggle="tab" href="#nav-list"
       id="nav-list-tab" role="tab">Liste des conges</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div aria-labelledby="nav-insert-tab" class="tab-pane fade show active" id="nav-insert" role="tabpanel">
    <app-vacation-create></app-vacation-create>
  </div>
  <div aria-labelledby="nav-list-tab" class="tab-pane fade" id="nav-list" role="tabpanel">
    <app-vacation-list></app-vacation-list>
  </div>
</div>
