
<nav class="navbar navbar-expand-md navbar-light">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="acceuil" >Acceuil<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gestion
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="employes">Gestion des employes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="horaires">Gestion des horaires</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Gestion des jours feries</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="services">Gestion des services</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
             id="navbarDropdown2" role="button">
            Absences
          </a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu">
            <a class="dropdown-item" routerLink="missions">Missions</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="conges">Conges</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="remplacements">Remplacements</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="absences">Absences</a>
          </div>
        </li>

      </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand" href="#"><img src="../assets/Images/logo-ONDA.png" width="110" height="62" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto" *ngIf="userData">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="profile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{userData.lastName +" "+userData.firstName}}
          </a>
          <div class="dropdown-menu" aria-labelledby="profile">
            <a class="dropdown-item" href="#">Parametres</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" href="#" (click)="logout()">Deconnexion</a>
          </div>
        </li>
    </ul>
  </div>
</nav>
