<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-insert-tab" data-toggle="tab" href="#nav-insert" role="tab" aria-controls="nav-insert" aria-selected="true">Insertion des employes</a>
    <a class="nav-item nav-link" id="nav-list-tab" data-toggle="tab" href="#nav-list" role="tab" aria-controls="nav-list" aria-selected="false">Liste des employes</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-insert" role="tabpanel" aria-labelledby="nav-insert-tab"><app-gestion-employees-create></app-gestion-employees-create></div>
  <div class="tab-pane fade" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab"><app-gestion-employees-list></app-gestion-employees-list></div>
</div>
