<div class="row">
  <div class="col">
    <div class="container">
      <br>
      <form>
        <!-- Employe -->
        <div class="form-group">
          <label class="sr-only" for="employeSkip">Employé en Absence</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Employé en Absence</div>
            </div>
            <select  class="custom-select" id="employeSkip"   [(ngModel)]="employee.matricule" name="matricule"  >
              <option selected disabled>Selectionner l'employé ...</option>
              <option *ngFor="let emp of employeeVo" [value]="emp.matricule">{{ emp.matricule+" "+emp.firstName+" "+emp.lastName }}</option>
            </select>
          </div>
        </div>

        <br>
        <!-- type-->
        <div class="form-group">
          <label class="sr-only" for="dateDebut">Type d'absence</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Type d'absence</div>
            </div>
            <input class="form-control" [(ngModel)]="skip.type" name="skipType" id="typeSkip" placeholder="Entrer le type de skip..." type="text">
          </div>
        </div>
            <br>
            <!-- Date debut-->
            <div class="form-group">
              <label class="sr-only" for="dateDebut">Date d'absence</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Date d'absence</div>
                </div>
                <input class="form-control" [(ngModel)]="skip.skipDate" name="skipDate" id="dateDebut" placeholder="Entrer la de skip ..." type="date">
              </div>
            </div>
            <br>
            <!-- HORAIRE -->
            <div class="form-group">
              <label class="sr-only" for="horaire">Horaire(s)</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Horaire(s)</div>
                </div>
                <select class="custom-select" [(ngModel)]="detail.wording"  name="horaire" id="horaire">
                  <option selected disabled>Selectionner l(es) horaire(s) ...</option>
                  <option *ngFor="let d of detailVo" ngValue="{{ d.wording }}" data-toggle="tooltip" data-placement="top" title="{{ d.startingTimeVo.hour+'h'+d.endingTimeVo.minute+'min-'+d.endingTimeVo.hour+'h'+d.endingTimeVo.minute+'min' }}">{{ d.wording }}</option>
                </select>
              </div>
            </div>
            <br>
            <button class="btn btn-outline-success" (click)="saveSkip()" type="submit">Creer</button>
            <button class="btn btn-outline-secondary ml-2" type="submit">Reinitialiser le formulaire</button>
            </form>

          </div>
  </div>
</div>

