<div class="row">
  <div class="col">
    <div class="container">
      <br>
      <form>
        <!-- MATRICULE-->
        <div class="form-group">
          <label class="sr-only" for="matriculee">Matricule</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Matricule</div>
            </div>
            <input type="number" class="form-control" [(ngModel)]="employee.matricule" name="matriculee" id="matriculee"
                   placeholder="Entrer la matricule de l'employe ...">
          </div>
        </div>
        <br>
        <!-- NOM -->
        <div class="form-group">
          <label class="sr-only" for="lastNamee">Nom</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Nom</div>
            </div>
            <input type="text" class="form-control" id="lastNamee" [(ngModel)]="employee.lastName" name="lastNamee"
                   placeholder="Entrer le nom de l'employe ...">
          </div>
        </div>
        <br>
        <!-- PREONOM-->
        <div class="form-group">
          <label class="sr-only" for="firstNamee">Prenom</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Prenom</div>
            </div>
            <input type="text" class="form-control" id="firstNamee" [(ngModel)]="employee.firstName" name="firstNamee"
                   placeholder="Entrer le prenom de l'employe ...">
          </div>
        </div>
        <br>
        <!-- FONCTION-->
        <div class="form-group">
          <label class="sr-only" for="fonctionn">Fonction</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Fonction</div>
            </div>
            <input type="text" class="form-control" [(ngModel)]="employee.fonction" name="fonctionn" id="fonctionn"
                   placeholder="Entrer la fonction de l'employe ...">
          </div>
        </div>
        <br>
        <!-- Type-->
        <div class="form-group">
          <label class="sr-only" for="typee">Type</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Type</div>
            </div>
            <select class="custom-select"
                    name="typee" id="typee" [(ngModel)]="employee.type">
              <option selected disabled>Selectionner le type d'équipement ...</option>
              <option>Administratif</option>
              <option>Technique</option>


            </select>
            <!--<input type="text" class="form-control" [(ngModel)]="employee.type" name="typee" id="typee" placeholder="Entrer le type de l'employe ...">-->
          </div>
        </div>
        <br>
        <div class="d-flex justify-content-end">
          <button type="submit" (click)="renitialiser()" class="btn btn-outline-secondary mr-sm-1">Reinitialiser le
            formulaire
          </button>
          <button type="submit" (click)="addEmployee()" class="btn btn-outline-success">Créer</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col">
    <br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Matricule</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Fonction</th>
        <th scope="col">Type</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let e of employees">
        <th>{{e.matricule}}</th>
        <td>{{e.lastName}}</td>
        <td>{{e.firstName}}</td>
        <td>{{e.fonction}}</td>
        <td>{{e.type}}</td>
        <td class="float-right">
          <button class="btn btn-outline-danger" (click)="deleteRow(e.matricule)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
    <br>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-outline-secondary mr-sm-1">Reinitialiser la liste</button>
      <button type="submit" (click)="saveEmployee()" class="btn btn-outline-primary">Confirmer</button>
    </div>
  </div>
</div>
