<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Reference</th>
    <th scope="col">Employe associe</th>
    <th scope="col">Date debut</th>
    <th scope="col">Date fin</th>
    <th scope="col">Type du conge</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">9283</th>
    <td>Some</td>
    <td>body</td>
    <td>body</td>
    <td>body</td>
    <td class="float-right">
      <button class="btn btn-outline-warning mr-2">Modifier</button>
      <button class="btn btn-outline-danger">Supprimer</button>
    </td>
  </tr>
  </tbody>
</table>
