<table class="table table-striped">
  <thead>
  <tr>
    <th>Employe associe</th>
    <th>Date debut</th>
    <th>Date fin</th>
    <th>Type du conge</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let v of vacations">
    <td>{{v.employeeVo.lastName}} {{v.employeeVo.firstName}}</td>
    <td>{{v.startingDate}}</td>
    <td>{{v.endingDate}}</td>
    <td>{{v.type}}</td>
    <td class="float-right">
      <button class="btn btn-outline-info mr-2" data-toggle="modal" (click)="findVacationById(v.id)"
              data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
      <button class="btn btn-outline-danger" data-toggle="modal" (click)="deleteVacation(v.id)"
              data-target="#exampleModal2"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </td>
  </tr>
  </tbody>
</table>

<div class=" modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modification de :
          <i>{{(!!newVacation ? newVacation.employeeVo.lastName : null) + " " + (!!newVacation ? newVacation.employeeVo.firstName : null) }}</i>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <br>
          <!-- Date debut-->
          <div class="form-group">
            <label class="sr-only" for="dateDebut">Date debut</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Date debut</div>
              </div>
              <input class="form-control" [(ngModel)]="newVacation.startingDate" name="Date debut" id="dateDebut"
                     placeholder="Entrer la date du debut ..." type="date">
            </div>
          </div>
          <br>
          <!-- Date fin-->
          <div class="form-group">
            <label class="sr-only" for="dateFin">Date de fin</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Date de fin</div>
              </div>
              <input class="form-control" [(ngModel)]="newVacation.endingDate" name="Date fin" id="dateFin"
                     placeholder="Entrer la date de fin ..." type="date">
            </div>
          </div>
          <br>
          <!-- type-->
          <div class="form-group">
            <label class="sr-only" for="Type du conge">Type du conge</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Type du conge</div>
              </div>
              <select name="Type du conge" class="custom-select" id="Type du conge" [(ngModel)]="newVacation.type"
                      placeholder="Entrer le type du conge ...">
                <option selected disabled>Selectionner le type ...</option>
                <option>C.M</option>
                <option>C.AT</option>
                <option>C.EXCEP</option>
                <option>C.R</option>
              </select>
            </div>
          </div>
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-success" data-dismiss="modal" (click)="updateVacation()">Modifier
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
