<div class="cover">
  <div class="card center" style="width: 40%">
    <div class="container" style="padding: 2%">
      <br>
      <img src="../../../../assets/Images/logo-ONDA-white-bg.png" alt="" width="148" height="92" class="center-img">
      <br>
      <br>
      <form style="padding: 5%">
        <div class="form-group">
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="Entrer votre email ..." [(ngModel)]="email">
          <div class="invalid-feedback">
            L'email que vous avez saisi est invalide
          </div>
        </div>
        <button type="submit" class="btn btn-outline-primary w-100" (click)="goSendLink()">Récuperer mon mot de passe</button>
      </form>
    </div>
    <br>
    <br>
  </div>
</div>
