<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Libelle</th>
    <th scope="col">Mode</th>
    <th scope="col">Heure debut</th>
    <th scope="col">Heure fin</th>
    <th scope="col">Panier</th>
    <th scope="col">Heures effectuees</th>
    <th scope="col">Heures de nuit
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let d of allDetails">
    <td>{{d.wording}}</td>
    <td>{{d.mode}}</td>
    <td>{{d.startingTimeVo.hour}}:{{d.startingTimeVo.minute}}</td>
    <td>{{d.endingTimeVo.hour}}:{{d.endingTimeVo.minute}}</td>
    <td>{{d.pan}}</td>
    <td>{{d.heVo.hour}}h{{d.heVo.minute}}</td>
    <td>{{d.hnVo.hour}}h{{d.hnVo.minute}}</td>
    <td>
      <button class="btn btn-outline-info mr-2"   data-toggle="modal" (click)="findById(d.id)" data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>



<div class=" modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modification </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <!-- LIBELLE-->
          <div class="form-group">
            <label class="sr-only" for="libelle">Libelle</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Libelle</div>
              </div>
              <input type="text" [(ngModel)]="newDet.wording" name="wording" class="form-control"  id="libelle" placeholder="Entrer le libelle d'horaire ...">
            </div>
          </div>
          <br>
          <!-- MODE-->
          <div class="form-group">
            <label class="sr-only" for="mode">Mode</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Mode</div>
              </div>
              <select name="mode" [(ngModel)]="newDet.mode" class="custom-select" id="mode" >
                <option >Special</option>
                <option >Normal</option>
              </select>
            </div>
          </div>
          <br>
          <!-- HEURE DEBUT -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Heure debut</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="newDet.startingTimeVo.hour" name="startingTimeHours" placeholder="Entrer l'heure de debut ..." min="0" max="23">
            <div class="input-group-append">
              <span class="input-group-text">H</span>
            </div>
            <input type="text" class="form-control"  [(ngModel)]="newDetail.startingTimeVo.minute" name="startingTimeMinute" placeholder="Entrer la minute de fin ..." min="0" max="59">
            <div class="input-group-append">
              <span class="input-group-text">M</span>
            </div>
          </div>
          <br>
          <!-- HEURE FIN-->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Heure fin</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="newDet.endingTimeVo.hour" name="endingTimeHpurs"  placeholder="Entrer l'heure de fin ..." min="0" max="23">
            <div class="input-group-append">
              <span class="input-group-text">H</span>
            </div>
            <input type="text" class="form-control"   [(ngModel)]="newDet.endingTimeVo.minute" name="endingTimeMinute" placeholder="Entrer la minute de fin ..." min="0" max="59">
            <div class="input-group-append">
              <span class="input-group-text">M</span>
            </div>
          </div>
          <br>
          <!-- PAN-->
          <div class="form-group">
            <label class="sr-only"  for="panier">Panier</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Panier</div>
              </div>
              <input type="number" class="form-control" [(ngModel)]="newDet.pan" name="pan"  id="panier" placeholder="Entrer le panier d'horaire ...">
            </div>
          </div>
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"   class="btn btn-outline-success m-2" data-dismiss="modal" (click)="updateDetail()">Modifier</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

