<div class="row">
  <div class="col">
    <div class="container">
      <br>
      <form>
        <!-- Reference-->
        <div class="form-group">
          <label class="sr-only" for="referenceRemp">Référence</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Référence</div>
            </div>
            <input class="form-control" id="referenceRemp" [(ngModel)]="replacement.reference" name="referenceRemp"
                   placeholder="Entrer la référence du remplacement ..."
                   type="text">
          </div>
        </div>
        <br>
        <!-- Employe original -->
        <div class="form-group">
          <label class="sr-only" for="empOrg">Employé original</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Employé original</div>
            </div>
            <select (change)="getEmployeeByMatricule()" class="custom-select" id="empOrg"
                    [(ngModel)]="orgEmployee.matricule" name="empOrg">
              <option disabled selected>Entrer l'employé original ...</option>
              <option *ngFor="let emp of employeeVo"
                      [value]="emp.matricule">{{ emp.matricule + " " + emp.firstName + " " + emp.lastName }}</option>

            </select>
          </div>
        </div>
        <br>
        <!-- Employe remplacent -->
        <div class="form-group">
          <label class="sr-only" for="empRmp">Employé remplacant</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Employé remplacant</div>
            </div>
            <select (change)="getReplacedEmployeeByMatricule()" class="custom-select" id="empRmp"
                    [(ngModel)]="rempEmployee.matricule" name="empRemp">
              <option disabled selected>Entrer l'employé remplacant ...</option>
              <option *ngFor="let emp of employeeVo"
                      [value]="emp.matricule">{{ emp.matricule + " " + emp.firstName + " " + emp.lastName }}</option>
            </select>
          </div>
        </div>
        <br>
        <!-- Date debut-->
        <div class="form-group">
          <label class="sr-only" for="dateRmp">Date du remplacement</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Date du remplacement</div>
            </div>
            <input class="form-control" id="dateRmp" [(ngModel)]="replacement.replacementDate" name="dateRemp"
                   placeholder="Entrer la date du remplacement ..." type="date">
          </div>
        </div>
        <br>
        <!-- detail-->
        <div class="form-group">
          <label class="sr-only" for="detail">Horaire</label>
          <small id="emailHelp" class="form-text text-muted">Veuillez saisir d'abord l'employé original et la date de
            remplacement
          </small>

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Horaire</div>
            </div>
            <select (click)="getTheDay()" (change)="findDetailByWording()"
                    [disabled]="!orgEmployee.matricule || !replacement.replacementDate" class="custom-select"
                    id="detail" [(ngModel)]="replacement.detailVo.wording" name="horaireRemp">
              <option disabled selected>Selectionner l' horaire</option>
              <option *ngFor="let d of dayDetails" ngValue="{{ d.detailVo.wording }}" data-toggle="tooltip"
                      data-placement="top"
                      title="{{ d.detailVo.startingTimeVo.hour+'h'+d.detailVo.endingTimeVo.minute+'min-'+d.detailVo.endingTimeVo.hour+'h'+d.detailVo.endingTimeVo.minute+'min' }}">{{ d.detailVo.wording }}</option>
            </select>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn btn-outline-secondary mr-sm-1" (click)="formInit()" type="submit">Réinitialiser le
            formulaire
          </button>
          <button class="btn btn-outline-success" (click)="saveReplacement()" type="submit">Créer</button>
        </div>
      </form>
    </div>
  </div>
</div>

