<body>
<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header center-img">
      <a class="navbar-brand" href="#"><img src="../assets/Images/logo-ONDA.png" width="110" height="62" alt=""></a>
    </div>
    <br><br>
    <ul class="list-unstyled components">
      <li>
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="pointer"><i class="fas fa-tasks mr-3"></i>Gestion</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a routerLink="employes" class="pointer"><i class="fas fa-user mr-3"></i>Gestion des employes</a>
          </li>
          <li>
            <a routerLink="horaires" class="pointer"><i class="fas fa-clock-o mr-3"></i>Gestion des horaires</a>
          </li>
          <li>
            <a routerLink="holidays" class="pointer"><i class="fas fa-calendar-alt mr-3"></i>Gestion des jours feries</a>
          </li>
          <li>
            <a routerLink="services" class="pointer"><i class="fas fa-hammer mr-3"></i>Gestion des services</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="pointer"><i class="fas fa-receipt mr-3"></i>Absences</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a routerLink="missions" class="pointer"><i class="fas fa-briefcase mr-3"></i>Missions</a>
          </li>
          <li>
            <a routerLink="conges" class="pointer"><i class="fas fa-plane mr-3"></i>Conges</a>
          </li>
          <li>
            <a routerLink="remplacements" class="pointer"><i class="fas fa-random mr-3"></i>Remplacements</a>
          </li>
          <li>
            <a routerLink="absences" class="pointer"><i class="fas fa-user-times mr-3"></i>Absences</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="container w-100">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;" *ngIf="userData">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown mr-4">
            <a class="nav-link dropdown-toggle" href="#" id="profile" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              {{userData.lastName + " " + userData.firstName+" ( @"+userData.username+" )"}}
            </a>
            <div class="dropdown-menu" aria-labelledby="profile">
              <a class="dropdown-item pointer"(click)="triggerUserDataChangeModal()"><i class="fas fa-user-cog mr-3"></i>Parametres</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item pointer" href="#"><i class="fas fa-user-plus mr-3"></i>Ajouter un compte</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger pointer" href="#" (click)="logout()"><i class="fas fa-sign-out-alt mr-3"></i>Deconnexion</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
<!--MODAL FOR USER DATA CHANGE-->
<div class="modal fade" id="userDataChange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="container">
          <br>
          <form>
            <!-- USERNAME -->
            <div class="form-group">
              <label class="sr-only" for="username">Username</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Username</div>
                </div>
                <input type="text" class="form-control" id="username" [(ngModel)]="userModifiedData.username" name="username">
                <div class="invalid-feedback">
                  Le nom d'utilsateur que vous avez entre est invalid
                </div>
              </div>
            </div>
            <br>
            <!-- EMAIL -->
            <div class="form-group">
              <label class="sr-only" for="emailAdd">Email</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Email</div>
                </div>
                <input type="email" class="form-control" id="emailAdd" [(ngModel)]="userModifiedData.email" name="email">
                <div class="invalid-feedback">
                  L'email que vous avez entre est invalid
                </div>
              </div>
            </div>
            <br>
            <!-- PASSWORD-->
            <div class="form-group">
              <label class="sr-only" for="pwdAdd">Mot de passe</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Mot de passe</div>
                </div>
                <input type="password" class="form-control" id="pwdAdd" [(ngModel)]="userModifiedData.password" name="pwdAdd">
                <div class="invalid-feedback">
                  Le mot de passe que vous avez entre est invalid
                </div>
              </div>
            </div>
            <br>
            <!-- PASSWORD CONFIRMATION-->
            <div class="form-group">
              <label class="sr-only" for="pwdConfirmation">Confirmation</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Confirmation</div>
                </div>
                <input type="password" class="form-control" [(ngModel)]="pwdConfirmation" name="pwdConfirmation"  id="pwdConfirmation">
                <div class="invalid-feedback">
                  Les deux mot de passes sont non identiques
                </div>
              </div>
            </div>
            <br>
            <!-- FIRSTNAME-->
            <div class="form-group">
              <label class="sr-only" for="pnom">Prenom</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Prenom</div>
                </div>
                <input type="text" class="form-control" [(ngModel)]="userModifiedData.firstName" name="pnom" id="pnom">
                <div class="invalid-feedback">
                  Le prenom que vous avez entre est invalid
                </div>
              </div>
            </div>
            <br>
            <!-- LASTNAME -->
            <div class="form-group">
              <label class="sr-only" for="nomm">Nom</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Nom</div>
                </div>
                <input type="text" class="form-control" id="nomm" [(ngModel)]="userModifiedData.lastName" name="nomm">
                <div class="invalid-feedback">
                  Le nom que vous avez entre est invalid
                </div>
              </div>
            </div>
            <br>
            <!-- RANG -->
            <div class="form-group">
              <label class="sr-only" for="rang">Rang</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Rang</div>
                </div>
                <input type="text" class="form-control" id="rang" [(ngModel)]="userModifiedData.rang" name="rang">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Quitter</button>
        <button type="button" class="btn btn-outline-primary" (click)="update()">Sauvegarder</button>
      </div>
    </div>
  </div>
</div>
<!--MODAL FOR CREATING NEW USER-->






</body>
