<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Username</th>
    <th scope="col">Nom</th>
    <th scope="col">Prenom</th>
    <th scope="col">Email</th>
    <th scope="col">Date de naissance</th>
    <th scope="col">Rang</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <th>{{user.username}}</th>
    <td>{{user.lastName}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.email}}</td>
    <td>{{user.birthDate}}</td>
    <td *ngIf="user.rang == 'Responsable'"><span class="badge badge-info">{{user.rang}}</span></td>
    <td *ngIf="user.rang == 'Administrateur'"><span class="badge badge-success">{{user.rang}}</span></td>
    <td *ngIf="user.rang == 'Technicien'"><span class="badge badge-warning">{{user.rang}}</span></td>
    <td *ngIf="!user.blocked && user.rang !== 'Administrateur'"><button type="button" class="btn btn-outline-danger" (click)="block(user)">Bloquer</button></td>
    <td *ngIf="!user.blocked && user.rang == 'Administrateur'"><button type="button"  disabled class="btn btn-outline-danger">Bloquer</button></td>
    <td *ngIf="user.blocked"><button type="button" class="btn btn-outline-primary" (click)="unblock(user)">Debloquer</button></td>
<!--    JUST LEAVE THE FIELD NAMED 'BLOCKED' AND NOT 'ISBLOCKED', IT'S A BOOLEAN AND 'IS' GOES AWAY -->
  </tr>
  </tbody>
</table>
